<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDnQGZr0_l1rms0LzA3uIwPjjnrXwbIwjU</string>
	<key>GCM_SENDER_ID</key>
	<string>272628901491</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.relookhotels.keyline</string>
	<key>PROJECT_ID</key>
	<string>relook-13240</string>
	<key>STORAGE_BUCKET</key>
	<string>relook-13240.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:272628901491:ios:f2197534f075b0346aac06</string>
</dict>
</plist>